<!--!
  Created by Pedro Algarvio on Jan 5, 2009
  Copyright © 2009 Pedro Algarvio. All rights reserved.
-->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="../admin.html" />
  <head>
    <title>Downloads Manager &mdash; $dm_title</title>
  </head>
  <body py:choose="" py:with="architectures=architectures.all();
                              platforms=platforms.all();
                              types=types.all()">
    <form method="post" action="" enctype="multipart/form-data"
          py:when="download" py:if="download">
      <fieldset>
        <legend>Edit &mdash; $download.filename </legend>
        <div id="addnew">
        <table class="side-heads">
          <tr>
            <th><label for="category">Category:</label></th>
            <td>
              <select name="category">
                <option value="$item.id"
                        selected="${item.id==download.category_id and 'selected' or None}"
                        py:for="item in categories">$item.name</option>
              </select>
            </td>
          </tr>
          <tr>
            <th><label for="file">New Filename:</label></th>
            <td><input type="file" name="file" /></td>
          </tr>
          <tr>
            <th><label for="description">Description:</label></th>
            <td><input type="text" name="description" value="$download.description"/></td>
          </tr>
          <tr py:if="components">
            <th><label for="component">Component:</label></th>
            <td>
              <select name="component">
                <option value="$item"
                        selected="${item==download.component and 'selected' or None}"
                        py:for="item in components">$item</option>
              </select>
            </td>
          </tr>
          <tr py:if="versions">
            <th><label for="version">Version:</label></th>
            <td>
              <select name="version">
                <option value="$item"
                        selected="${item==download.version and 'selected' or None}"
                        py:for="item in versions">$item</option>
              </select>
            </td>
          </tr>
          <tr py:if="architectures">
            <th><label for="arch">Architecture:</label></th>
            <td>
              <select name="architecture">
                <option value="$item.id"
                        selected="${item.id==download.architecture_id and 'selected' or None}"
                        py:for="item in architectures">$item.name</option>
              </select>
            </td>
          </tr>
          <tr py:if="platforms">
            <th><label for="platform">Platform</label></th>
            <td>
              <select name="platform">
                <option value="$item.id"
                        selected="${item.id==download.platform_id and 'selected' or None}"
                        py:for="item in platforms">$item.name</option>
              </select>
            </td>
          </tr>
          <tr py:if="types">
            <th><label for="type">Type:</label></th>
            <td>
              <select name="type">
                <option value="$item.id"
                        selected="${item.id==download.type_id and 'selected' or None}"
                        py:for="item in types">$item.name</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Hidden:</th>
            <td>
              <input type="checkbox" name="hidden" value="yes"
                     checked="${ download.hidden and 'checked' or None }"/>
             </td>
           </tr>
        </table>
        <div class="buttons">
          <input type="submit" name="edit" value="Update Download"/>
        </div>
        </div>
      </fieldset>
    </form>

    <form method="post" action="" py:if="not download"
          enctype="multipart/form-data" >
      <fieldset>
        <legend>Add New</legend>
        <div id="addnew">
        <table class="side-heads">
          <tr>
            <th><label for="category">Category:</label></th>
            <td>
              <select name="category">
                <option value="$item.id"
                        py:for="item in categories">$item.name</option>
              </select>
            </td>
          </tr>
          <tr>
            <th><label for="file">Filename:</label></th>
            <td><input type="file" name="file" /></td>
          </tr>
          <tr>
            <th><label for="description">Description:</label></th>
            <td><input type="text" name="description"/></td>
          </tr>
          <tr py:if="components">
            <th><label for="component">Component:</label></th>
            <td>
              <select name="component">
                <option value="$item"
                        py:for="item in components">$item</option>
              </select>
            </td>
          </tr>
          <tr py:if="versions">
            <th><label for="version">Version:</label></th>
            <td>
              <select name="version">
                <option value="$item"
                        py:for="item in versions">$item</option>
              </select>
            </td>
          </tr>
          <tr py:if="architectures">
            <th><label for="arch">Architecture:</label></th>
            <td>
              <select name="architecture">
                <option value="$item.id"
                        py:for="item in architectures">$item.name</option>
              </select>
            </td>
          </tr>
          <tr py:if="platforms">
            <th><label for="platform">Platform</label></th>
            <td>
              <select name="platform">
                <option value="$item.id"
                        py:for="item in platforms">$item.name</option>
              </select>
            </td>
          </tr>
          <tr py:if="types">
            <th><label for="type">Type:</label></th>
            <td>
              <select name="type">
                <option value="$item.id"
                        py:for="item in types">$item.name</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Hidden:</th>
            <td>
              <input type="checkbox" name="hidden" value="yes"/>
             </td>
           </tr>
        </table>
        <div class="buttons">
          <input type="submit" name="add" value="Add Download"/>
        </div>
        </div>
      </fieldset>
    </form>

    <form method="post" action="" py:when="not download">
      <div id="downloads-table">
        <table class="listing dm" id="downloads">
          <py:for each="category in categories">
          <thead>
            <tr><th colspan="13" class="category">$category.name</th></tr>
          </thead>
          <thead>
            <tr>
              <th colspan="13" class="category_description" py:if="category.description">
                $category.description
              </th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th class="sel">&nbsp;</th>
              <th>Filename</th>
              <th>Size</th>
              <th class="description">Description</th>
              <th>Date</th>
              <th>Uploader</th>
              <th py:if="components">Component</th>
              <th py:if="versions">Version</th>
              <th class="md5">MD5</th>
              <th py:if="architectures">Architecture</th>
              <th py:if="platforms">Platform</th>
              <th py:if="types">Type</th>
              <th>Downloads</th>
              <th class="self">Hidden</th>
            </tr>
          </thead>
          <tbody>
            <py:for each="download in category.downloads">
            <tr py:if="category.downloads">
              <td class="sel">
                <input name="selected" type="checkbox" value="$download.id"/>
              </td>
              <td><a href="${req.href.admin(admin.category, admin.page,
                                            download.id)}">$download.filename</a></td>
              <td>${ pretty_size(download.size) }</td>
              <td>$download.description</td>
              <td>${pretty_timedelta(download.timestamp)}</td>
              <td>$download.uploader</td>
              <td py:if="components">$download.component</td>
              <td py:if="versions">$download.version</td>
              <td>$download.md5</td>
              <td py:if="architectures">$download.architecture.name</td>
              <td py:if="platforms">$download.platform.name</td>
              <td py:if="types">$download.type.name</td>
              <td>${download.count()}</td>
              <td>
                <input type="checkbox" name="hidden" value="yes" disabled="disabled"
                       checked="${ download.hidden and 'checked' or None }"/>
              </td>
            </tr>
            </py:for>
            <tr py:if="not category.downloads">
              <td colspan="13"><center><em>No dowloads available</em></center></td>
            </tr>
          </tbody>
          </py:for>
        </table>
      </div>
      <script type="text/javascript">
        jQuery(document).ready( function($) {
          $("#downloads").width($("#addnew").width());
          <py:if test="filter(None, [c.downloads for c in categories])">
          $('fieldset').HideShow();
          </py:if>
        });
      </script>
      <div class="buttons">
        <input type="submit" name="delete" value="${_('Delete Selected')}"/>
      </div>
    </form>
  </body>
</html>
